<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>天気情報取得アプリ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script>
        function getData(id){
            fetch('/api/${id}').then((response) => response.json()).then((json) => {
                document.getElementById('weather-${id}').innerText = json.weather
                document.getElementById('temperture-${id}').innerText = json.temperture
            })
        }
    </script>
  </head>
  <body>
    {% for weather in object_list %}
    <div class='text-center mt-4 p-4 offset-3 col-6'>
    <h1>{{weather.location}}</h1>
        <div class='p-2 bg-light border'>
        <button onclick='getData({{weather.id}})' class='btn btn-primary'>{{weather.location}}の最新の情報を取得する</button>
        <h2 id = 'weather-{{weather.id}}'class='p-4' id=''>天気</h2>
        <span class='h3 p-4'>{{weather.weather}}</span>
        <h2 id = 'temperture-{{weather.id}}'class='p-4'>気温</h2>
        <span class='h3 p-4'>{{weather.temperture}}</span>
        </div>
    </div>
    {% endfor %}
   </body>
</html>